*{  
    box-sizing: border-box;
}

nav{
    align-items: center;
    display: flex;
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
    font-family: Inter, sans-serif;
}

nav > h3, nav > h4 {
    margin: 0;
}

nav > h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
}

nav > h4{
    font-weight: 600;
    color: #DEEBF8;
}
